$list_to_sort: john anna zoe kim felicia carrie;
$sort_order: a b c d e f g h i j k l m n o p q r s t u v w x y z;

@function swap_words($first_word, $second_word, $i) {
  @for $index from 1 through min(length($first_word), length($second_word)) {
    $first_letter: str-slice($first_word, $index, $index);
    $second_letter: str-slice($second_word, $index, $index);
    $first_letter_index: index($sort_order, $first_letter);
    $second_letter_index: index($sort_order, $second_letter);

    @if $first_letter_index > $second_letter_index {
      $list_to_sort: set-nth($list_to_sort, $i, $second_word);
      $list_to_sort: set-nth($list_to_sort, $i + 1, $first_word);
      @return $list_to_sort;
    }
  }

  @return $list_to_sort;
}

// bubble sort
@for $i from 1 through length($list_to_sort) - 2 {
  @for $j from 1 through length($list_to_sort) - 1 {
    $first_word: nth($list_to_sort, $j);
    $second_word_index: $j + 1;
    $second_word: nth($list_to_sort, $second_word_index);
    $list_to_sort: swap_words($first_word, $second_word, $j);
  }
}

@debug $list_to_sort;
